body{
    
    background-color: #cccccc;
}

img{
    margin: 0% 40px;
    border-radius: 20px;
}
button{
    border-radius: 16px;
    width: 328px;
    height: 67px;
    margin: 15px;
    
}
div{
    padding: 35px;
}
.blue-botton{
    background-color: #153462;
    color: white;
    font-weight: bold;
    margin: 10px;
}
.blue-button:hover{
    background-color: #2146C7; /* azul */
  color: white;
  font-style: normal;
}
.other-button:hover{
    background-color: #21d156;
    color: white;
}

.textarea-input{
    width: 62% ;
    border-radius: 33px;
    resize: none;
    margin: 10px;
    padding: 10px;
    font-size: large;
}
.textarea-input:focus{
    background-color: lightblue;
    
}
.textarea-output{
    width: 20%;
    border-radius: 33px;
    
    resize: none;
    margin: 10px;
    padding: 10px;
    
}
footer{
    text-align: center;
    padding: 30px;
    margin: 25px;
}